//Normalize css
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background-color:hsl(30, 54%, 90%) ;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}

img{
    width: 100%;
}

.container{
    background-color: #fff;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 40px;
    border-radius: 30px;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Young Serif", serif;
}
h2{
    color: hsl(14, 45%, 36%);
}

li{
    margin-bottom: 10px;
}
.recipe-image{
    border-radius: 30px;
    overflow: hidden;
}
.preparation-time{
    background-color: hsl(330, 100%, 98%);
    padding: 15px;
    padding-left: 30px;
    border-radius:10px;
}

.preparation-time h4{
    font-size:20px;
    font-family: "Outfit", sans-serif;
    color:hsl(332 , 51% , 32%);
}